aws_access_key = "XXXXXXXXXXXXXXXXXXXX"
aws_secret_key = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
public_ssh_key = "ssh-rsa AAAA== me@example.com"
docker_domain = "docker.example.com"
rancher_domain = "rancher.example.com"
jenkins_domain = "jenkins.example.com"
email = "me@example.com"
username = "me"
password = "my-password"
eip_alloc = "eipalloc-xxxxxxxx"
rancher_secret_key = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
rancher_access_key = "XXXXXXXXXXXXXXXXXXXX"
